<%- include('../partials/header'); -%>



<div class="row mt-5 ">
  <div class="container-fluid d-flex text-center text-bg-dark pt-5" style="height:100vh;background-size:cover; background-image: url('bg1.jpg'); fill-opacity: 30%;">
    
    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
      <main class="px-3 mt-5 pt-5">
      
        <h1>Developers ToolKit</h1>
        <p class="lead">A Web Developers Toolkit for Admin and Client</p> 
        <p class="lead">
          <a href="#!" class="btn btn-outline-info p-3  btn-dark m-2" >Admin Kit</a>
          <a href="#!" class="btn btn-outline-info   p-3 btn-dark m-2">Client Kit</a>
        </p>
        
      </main>
    
    </div>
  </div>
</div>





  <%- include('../partials/footer'); -%>