
<%- include('../partials/header'); -%>


<br><br><br>
<div class="row">
  <div class="container-fluid  d-flex text-center text-bg-dark pt-5" style="background-size:cover; background-image: url('https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/289675513_1952220081832825_6900816022689351205_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHD-vafMGJDX_6i_8FMSUVaOrGr7e0WeDw6savt7RZ4POibxk6VNi6FJyrwEcj_VKAzxAWnaTuLbhjp40Z89vo7&_nc_ohc=gjIXJN4q_gEAX84Vx3O&_nc_ht=scontent-ams2-1.xx&oh=00_AT9mXaWRt0DeFgffROIhMS71eIVBzYZrX8Icpgys05mbJQ&oe=62E21F02');">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    
      <main class="px-3">
        <h1>Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Learn more</a>
        </p>
      </main>
    
    </div>
  </div>
</div>
  
  <%- include('../partials/footer'); -%>