<%- include('../partials/header'); -%>


  <div class="row">

    <div class="row mt-5 mb-5">
      <!-- Card -->
      <div class="bg-image card shadow-1-strong d-flex  justify-content-center shadow"
        style="height:100vh;background-repeat: no-repeat; background-size:cover; background-image: url('https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/289675513_1952220081832825_6900816022689351205_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHD-vafMGJDX_6i_8FMSUVaOrGr7e0WeDw6savt7RZ4POibxk6VNi6FJyrwEcj_VKAzxAWnaTuLbhjp40Z89vo7&_nc_ohc=gjIXJN4q_gEAX84Vx3O&_nc_ht=scontent-ams2-1.xx&oh=00_AT9mXaWRt0DeFgffROIhMS71eIVBzYZrX8Icpgys05mbJQ&oe=62E21F02');">
        <div class="card-body text-white" style="margin-top:60vh">
          <h5 class="card-title">Team BBC Esports / Cedong & Friends</h5>
          <p class="card-text">
            PSITS Mobile Legends Tournament University of Antique.Year 2022
          </p>
          <div class="row col-sm-4"><img
              src="https://scontent-ams2-1.xx.fbcdn.net/v/t1.15752-9/280957657_3270938023180695_1058174102991697728_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGrnMy_7ZbN9Bp0XDzvtpI4owv78Xwuw5OjC_vxfC7Dk9pfJcz-0q5m67c7VCbk2UwU3XJeAVOXA5hCiTYiSUY8&_nc_ohc=pZ18hI0HjCsAX-MilIV&_nc_ht=scontent-ams2-1.xx&oh=03_AVKF6w7Q_cSVE8cNxAVd9J4MSYUX1r0ThM79QMGSDFOgnw&oe=63037524"
              alt=""></div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <!-- Card -->
    <div class=" justify-content-center col-6  d-none d-lg-block fade-in-left "
      style="height:25vh; position: absolute;z-index: 999;right:2rem;top:60vh;background-color: transparent;">
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="height:20rem"
              src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/287910175_1046144016329867_1063690952458001393_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGDiwlEJoLaQ5SDz9Xr-Cxlp7YLDF2x8wmntgsMXbHzCaOTyC62S6Kmcrafjwg1EZay4Cr4Ucj0XCBFNxx8a0Vw&_nc_ohc=DQ6LOjzNhYgAX9L1dhC&_nc_ht=scontent-ams4-1.xx&oh=03_AVLSfR59DOvdveG0BE7SfFcQz-hJkxaZgRHsrfvrbns3uQ&oe=6303A3B3"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:20rem"
              src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/278647009_672307017326163_4813032321058669863_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeH88SlRDSDrR8N0MKO2xE60NVryuqL0NMA1WvK6ovQ0wO4LFc_2xMvyWMLPYwYj-VkQzYvcQaACVA6XinRI9XQ4&_nc_ohc=qN2QzEmrAJgAX9z0VVu&_nc_ht=scontent-ams4-1.xx&oh=03_AVJhOHDZKa2so7s2K-m6466QdXIqEImVCZMN-WK7YhCWGw&oe=6304C413"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height:20rem"
              src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/278789155_288996596617918_3902507174188891676_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFsTPAFH-Ql_YEBekjQT7T9AoyK7P2bkzsCjIrs_ZuTO1wsrwc1DCp0pUG-AMylx6_4SyRdcZ3UQWG8WBQq-7-A&_nc_ohc=qgwWF06fneYAX8tcDj_&_nc_ht=scontent-ams4-1.xx&oh=03_AVLdcC3vCRwQJZTclsjmZZ47_gTDnBl4SS4h1Ds35DC1gg&oe=62DF7549"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Card -->


    <div class="row">
      <div class="row pt-5">
        <div class="bg-white border rounded-5">
          <section class="w-100 p-4 text-center pb-4">
            <h4>Team Photos</h4>
            <br>
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  src="https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/294551902_1974205362967630_4927116297448112178_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFk9A7sUWy8h9XnBRNI3HyF2KayVtYTt1TYprJW1hO3VP0QHAcToB3gt2fc-RM6IXGKCR4mBmH1f8j9YdVoyOUV&_nc_ohc=Re6RR4OBuhUAX8N_LvC&tn=gNnVdGMVwOHwBxoy&_nc_ht=scontent-ams2-1.xx&oh=00_AT-2owWI1-CLBTCE0hrawVz6zN5rLISmeWcnfqY9umRdTw&oe=62E2009C"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  data-mdb-animation-delay="300"
                  src="https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/294565345_1974207802967386_6992853689373702071_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHQ0LdbbBfdShhdmsrOZO1X3_2vsuauSf7f_a-y5q5J_siypFsrOU1FlmTEGPjdfHtseVLBM00WZGFrX_eUDBob&_nc_ohc=kEJXH8d6cLIAX8awi1L&tn=gNnVdGMVwOHwBxoy&_nc_ht=scontent-ams4-1.xx&oh=00_AT_dObILHg_iiyAyMGUIa4KvA9a7_2gfygbIrndBo3304Q&oe=62E26585"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-delay: 300ms; animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  data-mdb-animation-delay="500"
                  src="https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/288672957_1952219611832872_5707533811925303849_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEwBPqNDhBnzjM1HEe1P6DV_Js4MaBIxj38mzgxoEjGPZorYXsxOmCfvZLvvM4VuUhusdX37YGiU4nBwcAwDst_&_nc_ohc=CnT1WjbhnnYAX8wc5TR&_nc_ht=scontent-ams4-1.xx&oh=00_AT8iRusLNYmcYabBQlaSyJ5vTHglsHqam0NgQFxRITaF-g&oe=62E1A9D7"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-delay: 500ms; animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  src="https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/294618571_1974205282967638_4485678211746540523_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEyFqLPH39D_kHq1dUhiTrkZQGJzvzMHnBlAYnO_MwecLm6BHR3Xjet0l9HRDcazHG9OORJH4ueexLYT4IBUDee&_nc_ohc=kxLpk8dyvvUAX-kqGgu&_nc_ht=scontent-ams4-1.xx&oh=00_AT8gOY9k00Bwv6KQdH0ZuS_8ku3f5aly_q4R1qHaZuY3CQ&oe=62E1DFF4"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  data-mdb-animation-delay="300"
                  src="https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/294464481_1974205176300982_2466302345423235608_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH-bD7P96LnEBGBTyaveLCvNvyP1hesS-o2_I_WF6xL6o14Y2xLsfo5EWEtoSWghucxZHdPdkgtaUUWEXcQluQr&_nc_ohc=sANsOBQjpLoAX_AEI4r&_nc_ht=scontent-ams4-1.xx&oh=00_AT_CncWy4te59uyFwhu6wvMxJah_IzJaX4HVoqxhS8jeUg&oe=62E14E89"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-delay: 300ms; animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <img data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation="fade-in"
                  data-mdb-animation-delay="500"
                  src="https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/289367042_1952220055166161_2214776321169704420_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGKz3tFyiA8CS1qm0Dss32S-BP5dM7dCZX4E_l0zt0JlQPUc4v0EbiH9nAuaqLhKBb8H6rCcpV092DpFAcyzT2W&_nc_ohc=R7I9qb60GQYAX_8jtzm&_nc_ht=scontent-ams4-1.xx&oh=00_AT9D0UlhlWVUEdYuSZ5Refk8sXzVCrVKE2dIWXmArgBRZA&oe=62E2EF87"
                  class="img-fluid shadow-1-strong rounded animation fade-in"
                  style="animation-delay: 500ms; animation-duration: 500ms; visibility: visible;">
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <div class="col-md-12 text-center mb-3">
            <a href="#!" class="btn btn-outline-dark ">Show More</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">BBC Esport Best Tank</h2>
        <p class="lead">The Unstopable Set of Allan John Pandan..Hahahah Nice Set Pre..✌️✌️✌️</p>

        <img class="rounded" src="http://www.w3.org/2000/svg" alt="">
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for
                  yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
              this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                  dy=".3em">500x500</text>
          </svg>

      </div>
  </div>

  </div>

  <%- include('../partials/footer'); -%>